body {
	background-image: url('lol.jpg');
	font-family: verdana;
	background-size:cover;
	font-size: 20px;
	color: rgba(255, 255, 255, 1)
}

a:link {
	color: rgb(128, 0, 0);
}

a:visited {
	color: rgb(255, 0, 0);
}

a:hover {
	color: rgb(200, 0, 0);
}

a:active {
	color: rgb(255, 0, 0);
}

.shitass img {
	width: 500px;
}

.lol {
	background-color: rgba(0, 0, 0, 0.5);
}