body {
	background-image: url('Zrzutekranu2025-04-15193337.png');
	font-family: verdana;
	font-size: 20px;
}

p {
	background-color: rgba(0, 255, 255, 0.65);
}

h1 {
	background-color: rgba(0, 255, 255, 0.65);
}

h2 {
	background-color: rgba(0, 255, 255, 0.65);
}

h3 {
	background-color: rgba(0, 255, 255, 0.65);
}

ol {
	background-color: rgba(0, 255, 255, 0.65);
}

a {
	background-color: rgba(0, 255, 255, 0.65);
}

a:link {
	color: rgb(128, 0, 0);
}

a:visited {
	color: rgb(255, 0, 0);
}

a:hover {
	color: rgb(200, 0, 0);
}

a:active {
	color: rgb(255, 0, 0);
}

ul {
	background-color: rgba(0, 255, 255, 0.65);
}

.shitass img {
	width: 540px;
}